/* body {
  background-image: url("https://c1.staticflickr.com/3/2825/12794381313_983303c073_b.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
} */

body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("http://eskipaper.com/images/awesome-mountain-valley-1.jpg");
  background-size: cover;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
